.h1{
	text-align: center;
}
body{
	margin: 0 auto;
	width: 968px;
	background-image: url('../img/locatie-curio.jpg');
	
}
.body{
	background-color: transparent;
	background-color: rgb(0, 0, 180, 0.6);

}
body p{
	color: white;
}
body h2{
	font-family:;
}
header{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h1{
	color: #2ade5d;
}
header img{
	width: 150px;
	border-image: 1px solid #03357d;
	border-radius: 15px;
}
header{
	margin-left: 20px;
	margin-right: 20px;

}
header img{
	margin-top: 20px;
	margin-bottom: 20px;
}
header a{
	margin-right: 10px;
	color: #2ade5d;
	text-decoration: none;
	border: 1px solid #03357d;
	padding: 5px;
	background-color: #03357d;
	border-radius: 8px;
}
.sub-vakken{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
}
.sub-vakken h3{
	color: #2ade5d;
}
main h2{
	color: #2ade5d;
	font-weight: bold;

}
main{
	margin-left: 20px;
	margin-right: 20px;
}
.vakken{
	margin-top: 60px;

}
.alleVakken{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #03357d;
	color: whitesmoke;
}

.tekstkleur{
	color: grey;
}
.rooster img{
	width: 450;
}


.sub-docenten{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sub-docenten img{
	width: 150px;
}
.alleDocenten{
	display: flex;
	justify-content: space-between;
}
footer{
	
	padding-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
footer h2{
	color: #2ade5d;


}
footer li{
	color: #2ade5d;
	padding: 20px;
}
.contact-locatie{
	background-color: #03357d;
}
.sub-contact-locatie{
	display: flex;
	justify-content: space-around;
}
.contact-locatie img{
	width: 888px;
	padding-bottom: 20px;
	padding-left: 20px;
}
footer h3{
	color: #2ade5d;
	margin-left: 20px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}
.Containers img{
	display: flex;
	justify-content: space-between;
}
.Containers a{

}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  color: #2ade5d;
  text-decoration: none;
  border: 1px solid #03357d;
  
  background-color: #03357d;
  
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}